<!-- auth-layout.component.ts -->
<main class="flex min-h-screen w-full font-inter">

  <section class="flex w-1/2 items-center justify-center bg-white px-6 sm:px-10 lg:px-14">
    <router-outlet></router-outlet>
  </section>

  <section class="flex w-1/2 items-center justify-end bg-sky-1 max-lg:hidden">
    <div class="rounded-xl border-y-[6px] border-l-[6px] border-gray-900">
      <img src="/assets/icons/auth-image.svg" alt="Auth Image" width="500" height="500"
           class="rounded-l-xl object-contain">
    </div>
  </section>
</main>

